[submodule "backend"]
	path = backend
	url = https://github.com/DavitPheikr/hackathon.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/DavitPheikr/apex-analytics.git
[submodule "online"]
	path = online
	url = https://github.com/amboka/hackathon2026.git
